h2#s2 {
    text-align: center;
}
p#s2 {
    text-align: center;
}
p {
    margin-top: 4px;
    margin-bottom: 4px;
    color: black;
}
.mb-5 {
    margin-bottom: 1rem !important;
    margin-right: 0px;
    padding: 0px;
}
h2#s2 {
    margin-top: 6rem;
}
p#s2 {
    margin-bottom: 4rem;
}
a.btn.btn-success {
    margin: auto;
    display: block;
    width: fit-content;
    background-color: rgb(255, 193, 0);
    border-color: #f8fbff;
    color:black;
}
.btn-primary {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 193, 0);
    border-color: #f8fbff;
}